.footer {
    margin-top: 150px;

    .container {

    }

    .footer-header {
        display: grid;
        margin-bottom: 5rem;
        @include laptop13{
            width: 80%;
            grid-template-columns: repeat(4,1fr);
        }

        .footer-logo {
            font-size: 2rem;
            text-transform: uppercase;
            font-weight: 800;
        }

        span{
            color: $pink;
        }

        .suptitle{
            margin-bottom: 1.5rem;
        }
        li{
            padding: 0.5rem;
        }

        .social{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
        }

        .iconeFB,.iconeX,.iconeInsta{
            margin-top: -35px;
            margin-left: 18px;
        }
    }

    .footer-bottom{
        border-top: solid 1px rgba($color: #fff, $alpha: 0.08);
        padding-top: 5rem;
        margin-bottom: 5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;

        @include laptop13 {
            flex-direction: row;
          }

        p{
            color: $grey-50;
        }

        ul {
            display: flex;
            align-items: center;
            gap: 1.875rem;
          }
    }
}